<!--
    BASE WIDGET
-->
<div class="rounded-md dark:shadow-sm shadow-md shadow-indigo-200 ring-1 ring-purple-200">
    <div class="flex flex-col w-full">
        <div class="bg-gradient-to-r from-cyan-500 to-blue-500 rounded-t-md border-b-slate-600">
        
            {% block content %}{% endblock %}
        
        </div>
    </div>
</div>
<!--
    BASE WIDGET
-->