<div class="flex flex-col">
    <h2 class="text-2xl font-semibold mb-3">Neion Test</h2>
<div class="neontest neon-red-200 bg-slate-700">This should have a neon red border and shadow.</div>
<div class="neontest neon-blue-500">This should have a neon blue border and shadow.</div>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-10 xl:grid-cols-12 gap-4 mb-2">
        <div class="w-12 h-12 rounded-lg neon-dark_purple bg-russian_violet-600 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg neon-dark_purple bg-red_cmyk-500 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg neon-indigo bg-russian_violet-600 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg neon-indigo text-center pt-3">200</div>
    </div>
    <h2 class="text-2xl font-semibold mb-3">Night</h2>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-10 xl:grid-cols-12 gap-4 mb-2">
        <div class="sm:w-12 sm:h-12 md:h-24 md:w-24 xl:h-36 xl:w-36 rounded-lg bg-night-100 text-center pt-3">100</div>
        <div class="w-12 h-12 rounded-lg bg-night-200 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg bg-night-300 text-center pt-3">300</div>
        <div class="w-12 h-12 rounded-lg bg-night-400 text-center pt-3">400</div>
        <div class="w-12 h-12 rounded-lg bg-night-500 text-center pt-3">500</div>
        <div class="w-12 h-12 rounded-lg bg-night-600 text-center pt-3">600</div>
        <div class="w-12 h-12 rounded-lg bg-night-700 text-center pt-3">700</div>
        <div class="w-12 h-12 rounded-lg bg-night-800 text-center pt-3">800</div>
        <div class="w-12 h-12 rounded-lg bg-night-900 text-center pt-3">900</div>
    </div>
    <h2 class="text-2xl font-semibold mb-3">Russian violet</h2>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-10 xl:grid-cols-12 gap-4 mb-2">
        <div class="w-12 h-12 rounded-lg bg-russian_violet-100 text-center pt-3">100</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-200 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-300 text-center pt-3">300</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-400 text-center pt-3">400</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-500 text-center pt-3">500</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-600 text-center pt-3">600</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-700 text-center pt-3">700</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-800 text-center pt-3">800</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-900 text-center pt-3">900</div>
    </div>
    <h2 class="text-2xl font-semibold mb-3">Dark urple</h2>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-10 xl:grid-cols-12 gap-4 mb-2">
        <div class="w-12 h-12 rounded-lg bg-dark_purple-100 text-center pt-3">100</div>
        <div class="w-12 h-12 rounded-lg bg-dark_purple-200 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg bg-dark_purple-300 text-center pt-3">300</div>
        <div class="w-12 h-12 rounded-lg bg-dark_purple-400 text-center pt-3">400</div>
        <div class="w-12 h-12 rounded-lg bg-dark_purple-500 text-center pt-3">500</div>
        <div class="w-12 h-12 rounded-lg bg-dark_purple-600 text-center pt-3">600</div>
        <div class="w-12 h-12 rounded-lg bg-dark_purple-700 text-center pt-3">700</div>
        <div class="w-12 h-12 rounded-lg bg-dark_purple-800 text-center pt-3">800</div>
        <div class="w-12 h-12 rounded-lg bg-dark_purple-900 text-center pt-3">900</div>
    </div>
    <h2 class="text-2xl font-semibold mb-3">celadon</h2>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-10 xl:grid-cols-12 gap-4 mb-2">
        <div class="w-12 h-12 rounded-lg bg-celadon-100 text-center pt-3">100</div>
        <div class="w-12 h-12 rounded-lg bg-celadon-200 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg bg-celadon-300 text-center pt-3">300</div>
        <div class="w-12 h-12 rounded-lg bg-celadon-400 text-center pt-3">400</div>
        <div class="w-12 h-12 rounded-lg bg-celadon-500 text-center pt-3">500</div>
        <div class="w-12 h-12 rounded-lg bg-celadon-600 text-center pt-3">600</div>
        <div class="w-12 h-12 rounded-lg bg-celadon-700 text-center pt-3">700</div>
        <div class="w-12 h-12 rounded-lg bg-celadon-800 text-center pt-3">800</div>
        <div class="w-12 h-12 rounded-lg bg-celadon-900 text-center pt-3">900</div>
    </div>
    <h2 class="text-2xl font-semibold mb-3">Russian violet</h2>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-10 xl:grid-cols-12 gap-4 mb-2">
        <div class="w-12 h-12 rounded-lg bg-russian_violet-100 text-center pt-3">100</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-200 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-300 text-center pt-3">300</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-400 text-center pt-3">400</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-500 text-center pt-3">500</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-600 text-center pt-3">600</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-700 text-center pt-3">700</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-800 text-center pt-3">800</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-900 text-center pt-3">900</div>
    </div>
    <h2 class="text-2xl font-semibold mb-3">Russian violet</h2>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-10 xl:grid-cols-12 gap-4 mb-2">
        <div class="w-12 h-12 rounded-lg bg-russian_violet-100 text-center pt-3">100</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-200 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-300 text-center pt-3">300</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-400 text-center pt-3">400</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-500 text-center pt-3">500</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-600 text-center pt-3">600</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-700 text-center pt-3">700</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-800 text-center pt-3">800</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-900 text-center pt-3">900</div>
    </div>
    <h2 class="text-2xl font-semibold mb-3">Russian violet</h2>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-10 xl:grid-cols-12 gap-4 mb-2">
        <div class="w-12 h-12 rounded-lg bg-russian_violet-100 text-center pt-3">100</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-200 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-300 text-center pt-3">300</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-400 text-center pt-3">400</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-500 text-center pt-3">500</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-600 text-center pt-3">600</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-700 text-center pt-3">700</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-800 text-center pt-3">800</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-900 text-center pt-3">900</div>
    </div>
    <h2 class="text-2xl font-semibold mb-3">Russian violet</h2>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-10 xl:grid-cols-12 gap-4 mb-2">
        <div class="w-12 h-12 rounded-lg bg-russian_violet-100 text-center pt-3">100</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-200 text-center pt-3">200</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-300 text-center pt-3">300</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-400 text-center pt-3">400</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-500 text-center pt-3">500</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-600 text-center pt-3">600</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-700 text-center pt-3">700</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-800 text-center pt-3">800</div>
        <div class="w-12 h-12 rounded-lg bg-russian_violet-900 text-center pt-3">900</div>
    </div>
</div>

