
<div class="flex flex-col mt-2">
    <div class="mb-2">
        <h2 class="text-2xl font-semibold ">{{ title | safe }} - [Other meta data]</h2>
    </div>
</div>
<div class="w-full flex opacity-100 mb-5 ">Header Area</div>