<footer class="flex 
               text-sm
               dark:bg-night
               w-full
               px-4
               py-2
               border-t
               border-green-950
               text-center 
             dark:text-white 
               fixed 
               bottom-0
    ">
    <p class="w-full">
        <b class="text-russian_violet-600">Velvet Void</b> <a class="text-blue-600" href="">MIT</a> License © 2024 Velvent Void.</p>
</footer>