
<!--[NAV-LEFT UI ELEMENT] -->
<nav class="hidden 
            flex-1 
            sm:block 
            w-auto
            min-w-48
          text-white 
            shadow-xl
            max-w-44
            dark:bg-gradient-to-tr from-dark_purple-100 to-dark_purple-500
            ">
    <div class="flex p-2">
        <button>
            <img class="p-1" width="56" height="56" src="../imgs/logo.svg" alt="Site Logo">
        </button>
        <h1 class=" text-2xl
                    p-2
                    font-bold 
                    bg-clip-text 
                    text-transparent
                    bg-gradient-to-r from-cyan-500 to-blue-800
                    dark:text-sky-300
                    hidden
                    sm:block">
            VelvetVoid
        </h1>
    </div>
    <div class="space-y-1 p-0 mt-20">
        <a href="/" class="flex
                           ml-3 
                         text-white 
                           items-center
                           rounded-l-md 
                           space-x-4
                           border-r-4
                           border-russian_violet-800
                         hover:border-russian_violet-200
                         hover:bg-indigo-900 
                           transition-all
                           duration-300" rel="ugc">
            <i class="p-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="28" height="28"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l16 0" />
              </svg>
            </i>
            <span> Dashboard</span>
        </a>
        <a href="/colors" class="flex 
                              text-white 
                                items-center
                                ml-3
                                rounded-l-md
                                space-x-4
                              border-r-red-500
                              hover:border-y-indigo-600
                              hover:bg-indigo-900 
                                transition-all
                                duration-300" 
                                rel="ugc">
            <i class="p-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-databricks" width="28" height="28"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 17l9 5l9 -5v-3l-9 5l-9 -5v-3l9 5l9 -5v-3l-9 5l-9 -5l9 -5l5.418 3.01" />
              </svg>
            </i>
            <span>Colors</span>
        </a>
        <a href="#" class="flex" rel="ugc">
            <i class="fa-solid fa-database mr-2"></i>
            <span>Repositories</span>
        </a>
        <a href="#" class="flex" rel="ugc">
            <i class="fa-solid fa-database mr-2"></i>
            <span>Repositories</span>
        </a>
    </div>
</nav>
<!--[@END NAV-LEFT UI ELEMENT] -->